IoT_2/IoT/Node_Red/archivo/1.txt
[
    {
        "id": "c05644cccb84064d",
        "type": "tab",
        "label": "Practice26",
        "disabled": false,
        "info": ""
    },
    {
        "id": "302b358e60c99f11",
        "type": "http response",
        "z": "c05644cccb84064d",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 400,
        "y": 320,
        "wires": []
    },
    {
        "id": "ca8fd03128d51080",
        "type": "json",
        "z": "c05644cccb84064d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "9b80df1fc2530b9f"
            ]
        ]
    },
    {
        "id": "7bb7a97487ef03ea",
        "type": "debug",
        "z": "c05644cccb84064d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "9d5db471cdf78358",
        "type": "ui_text",
        "z": "c05644cccb84064d",
        "group": "2b7ac01b.fc984",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor Name",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "28b925234dbac155",
        "type": "ui_gauge",
        "z": "c05644cccb84064d",
        "name": "",
        "group": "2b7ac01b.fc984",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 1",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 840,
        "y": 520,
        "wires": []
    },
    {
        "id": "2392955f756758cc",
        "type": "ui_gauge",
        "z": "c05644cccb84064d",
        "name": "",
        "group": "2b7ac01b.fc984",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 2",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0080ff",
            "#0062c4",
            "#002f5e"
        ],
        "seg1": "",
        "seg2": "",
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "9b80df1fc2530b9f",
        "type": "function",
        "z": "c05644cccb84064d",
        "name": "JSON or URL Encoded",
        "func": "var msg0 = { payload: msg.payload.api_key };\nvar msg1 = { payload: msg.payload.sensor };\nvar msg2 = { payload: msg.payload.value1 };\nvar msg3 = { payload: msg.payload.value2 };\n\n\nreturn [msg0, msg1, msg2, msg3];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            [
                "7bb7a97487ef03ea"
            ],
            [
                "9d5db471cdf78358"
            ],
            [
                "28b925234dbac155",
                "06777721584dd736"
            ],
            [
                "2392955f756758cc",
                "2c0a63cf4bb3be6d"
            ]
        ]
    },
    {
        "id": "24428a8888ead9af",
        "type": "http in",
        "z": "c05644cccb84064d",
        "name": "",
        "url": "update-sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "302b358e60c99f11",
                "ca8fd03128d51080",
                "7bb7a97487ef03ea"
            ]
        ]
    },
    {
        "id": "06777721584dd736",
        "type": "change",
        "z": "c05644cccb84064d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2c0a63cf4bb3be6d",
        "type": "change",
        "z": "c05644cccb84064d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "f58c1143b1bceb03",
        "type": "telegram command",
        "z": "c05644cccb84064d",
        "name": "",
        "command": "rpm",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "459ef3396edd223e",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "5a7d987cca742c86"
            ],
            []
        ]
    },
    {
        "id": "c96a3a0e92f9850b",
        "type": "telegram command",
        "z": "c05644cccb84064d",
        "name": "",
        "command": "temp2",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "459ef3396edd223e",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 740,
        "wires": [
            [
                "a4a6978aefe4f72b"
            ],
            []
        ]
    },
    {
        "id": "5a7d987cca742c86",
        "type": "function",
        "z": "c05644cccb84064d",
        "name": "",
        "func": "var temp = flow.get(\"temp1\")\nmsg.payload={\n    \"chatId\": 706799773,\n    \"type\": \"message\",\n    \"content\": \"RPM=\" + temp + \"°C\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 620,
        "wires": [
            [
                "c2a63679991e8755"
            ]
        ]
    },
    {
        "id": "a4a6978aefe4f72b",
        "type": "function",
        "z": "c05644cccb84064d",
        "name": "",
        "func": "var temp = flow.get(\"temp2\")\nmsg.payload={\n    \"chatId\": 706799773,\n    \"type\": \"message\",\n    \"content\": \"Temperatura actual=\" + temp + \"°C\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 740,
        "wires": [
            [
                "e3ae2dbd76a89a73"
            ]
        ]
    },
    {
        "id": "c2a63679991e8755",
        "type": "telegram sender",
        "z": "c05644cccb84064d",
        "name": "",
        "bot": "459ef3396edd223e",
        "haserroroutput": false,
        "outputs": 1,
        "x": 610,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e3ae2dbd76a89a73",
        "type": "telegram sender",
        "z": "c05644cccb84064d",
        "name": "",
        "bot": "459ef3396edd223e",
        "haserroroutput": false,
        "outputs": 1,
        "x": 610,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "1d7ececf5c91457f",
        "type": "telegram receiver",
        "z": "c05644cccb84064d",
        "name": "TSC Lab",
        "bot": "459ef3396edd223e",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "2ffaa5dc830c7d36"
            ],
            []
        ]
    },
    {
        "id": "2ffaa5dc830c7d36",
        "type": "debug",
        "z": "c05644cccb84064d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 260,
        "wires": []
    },
    {
        "id": "43cdd67d2393f194",
        "type": "telegram receiver",
        "z": "c05644cccb84064d",
        "name": "",
        "bot": "459ef3396edd223e",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 230,
        "y": 840,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5039f66bc92c8836",
        "type": "debug",
        "z": "c05644cccb84064d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "prueba1",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 840,
        "wires": []
    },
    {
        "id": "060cf844c437d8bc",
        "type": "http in",
        "z": "c05644cccb84064d",
        "name": "",
        "url": "update-sensor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "1ccd3c822bb7539b",
        "type": "debug",
        "z": "c05644cccb84064d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "prueba1",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 520,
        "wires": []
    },
    {
        "id": "b96850ce1d4df3bb",
        "type": "function",
        "z": "c05644cccb84064d",
        "name": "",
        "func": "var temp = flow.get(\"temp1\")\nmsg.payload={\n    \"chatId\": 706799773,\n    \"type\": \"message\",\n    \"content\": \"RPM=\" + temp + \"°C\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "2b7ac01b.fc984",
        "type": "ui_group",
        "name": "SENSORS",
        "tab": "99ab8dc5.f435c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "459ef3396edd223e",
        "type": "telegram bot",
        "botname": "Alsam1_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "99ab8dc5.f435c",
        "type": "ui_tab",
        "name": "HTTP",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]