IoT/Node_Red/proyecto_iot.txt
[
    {
        "id": "501c288f8c3bea24",
        "type": "tab",
        "label": "Proyecto_iot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "32bee9f5192f91cd",
        "type": "http response",
        "z": "501c288f8c3bea24",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 400,
        "y": 320,
        "wires": []
    },
    {
        "id": "fe7beacfadf91825",
        "type": "json",
        "z": "501c288f8c3bea24",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "c0f030915d1da8e6"
            ]
        ]
    },
    {
        "id": "3c858672acaadaad",
        "type": "debug",
        "z": "501c288f8c3bea24",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "621611dec164cd63",
        "type": "ui_text",
        "z": "501c288f8c3bea24",
        "group": "2b7ac01b.fc984",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor Name",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "ce7efada1b0610c9",
        "type": "ui_gauge",
        "z": "501c288f8c3bea24",
        "name": "",
        "group": "2b7ac01b.fc984",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 1",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 840,
        "y": 520,
        "wires": []
    },
    {
        "id": "9e127c8d5f7841cb",
        "type": "ui_gauge",
        "z": "501c288f8c3bea24",
        "name": "",
        "group": "2b7ac01b.fc984",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 2",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0080ff",
            "#0062c4",
            "#002f5e"
        ],
        "seg1": "",
        "seg2": "",
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "c0f030915d1da8e6",
        "type": "function",
        "z": "501c288f8c3bea24",
        "name": "JSON or URL Encoded",
        "func": "var msg0 = { payload: msg.payload.api_key };\nvar msg1 = { payload: msg.payload.sensor };\nvar msg2 = { payload: msg.payload.value1 };\nvar msg3 = { payload: msg.payload.value2 };\n\n\nreturn [msg0, msg1, msg2, msg3];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            [
                "3c858672acaadaad"
            ],
            [
                "621611dec164cd63"
            ],
            [
                "ce7efada1b0610c9",
                "10e8824748fd2987"
            ],
            [
                "9e127c8d5f7841cb",
                "dea5c56a1873abc1"
            ]
        ]
    },
    {
        "id": "d2aad832a4e3a597",
        "type": "http in",
        "z": "501c288f8c3bea24",
        "name": "",
        "url": "update-sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "32bee9f5192f91cd",
                "fe7beacfadf91825",
                "3c858672acaadaad"
            ]
        ]
    },
    {
        "id": "10e8824748fd2987",
        "type": "change",
        "z": "501c288f8c3bea24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "dea5c56a1873abc1",
        "type": "change",
        "z": "501c288f8c3bea24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b327f229f4e84d86",
        "type": "telegram command",
        "z": "501c288f8c3bea24",
        "name": "",
        "command": "pwm",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "12cd4f431de2cd7e",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "e5acf3dff5bc23aa"
            ],
            []
        ]
    },
    {
        "id": "e5acf3dff5bc23aa",
        "type": "function",
        "z": "501c288f8c3bea24",
        "name": "",
        "func": "var pwm = flow.get(\"temp1\")\nmsg.payload={\n    \"chatId\": 2110234424,\n    \"type\": \"message\",\n    \"content\": \"PWM=\" + pwm\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 620,
        "wires": [
            [
                "396752d6978fc069"
            ]
        ]
    },
    {
        "id": "396752d6978fc069",
        "type": "telegram sender",
        "z": "501c288f8c3bea24",
        "name": "",
        "bot": "12cd4f431de2cd7e",
        "haserroroutput": false,
        "outputs": 1,
        "x": 610,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "543e5e411fdca6e9",
        "type": "telegram receiver",
        "z": "501c288f8c3bea24",
        "name": "TSC Lab",
        "bot": "12cd4f431de2cd7e",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "ba02e39e9c5884bb"
            ],
            []
        ]
    },
    {
        "id": "ba02e39e9c5884bb",
        "type": "debug",
        "z": "501c288f8c3bea24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 260,
        "wires": []
    },
    {
        "id": "582f7899415e39c9",
        "type": "http response",
        "z": "501c288f8c3bea24",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 951,
        "wires": []
    },
    {
        "id": "91982782b70d5fb9",
        "type": "http in",
        "z": "501c288f8c3bea24",
        "name": "",
        "url": "/get-sensor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 1131,
        "wires": [
            [
                "9c1a357c991d0783"
            ]
        ]
    },
    {
        "id": "313c88362f638a2b",
        "type": "http response",
        "z": "501c288f8c3bea24",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 1091,
        "wires": []
    },
    {
        "id": "9c1a357c991d0783",
        "type": "function",
        "z": "501c288f8c3bea24",
        "name": "",
        "func": "msg.payload = {\"value1\":24.25, \"value2\":49.54, \"value3\":1005.14};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 1131,
        "wires": [
            [
                "313c88362f638a2b",
                "3de7ee9198ece3b4"
            ]
        ]
    },
    {
        "id": "3de7ee9198ece3b4",
        "type": "debug",
        "z": "501c288f8c3bea24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 1159,
        "wires": []
    },
    {
        "id": "6da053a6b1d238ed",
        "type": "debug",
        "z": "501c288f8c3bea24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 1031,
        "wires": []
    },
    {
        "id": "0a6935fdd39f7ed6",
        "type": "http in",
        "z": "501c288f8c3bea24",
        "name": "",
        "url": "/update-sensor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 991,
        "wires": [
            [
                "9eeeb33ebac4e44e"
            ]
        ]
    },
    {
        "id": "9eeeb33ebac4e44e",
        "type": "function",
        "z": "501c288f8c3bea24",
        "name": "",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 991,
        "wires": [
            [
                "6da053a6b1d238ed",
                "582f7899415e39c9"
            ]
        ]
    },
    {
        "id": "2b7ac01b.fc984",
        "type": "ui_group",
        "name": "SENSORS",
        "tab": "99ab8dc5.f435c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "12cd4f431de2cd7e",
        "type": "telegram bot",
        "botname": "TscLabczuniga_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "99ab8dc5.f435c",
        "type": "ui_tab",
        "name": "HTTP",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]